---
layout: default
---

<article class="work">

  <div class="work-back-link">
      <span class="work-back-arrow">⭠ </span>
      <a href="/works/">All Works</a>
  </div>

  <div class="work-heading">
    <div class="work-heading-left">
      <h1 class="work-title">{{ page.title }}</h1>
    </div>

    <div class="work-heading-right">
      {% if page.year %}
        <div class="work-year">{{ page.year }}</div>
      {% endif %}

      {% if page.brief_instrumentation %}
        <div class="work-brief-instrumentation">
          {{ page.brief_instrumentation }}
        </div>
      {% endif %}
    </div>
  </div>

  {% if page.media %}
    <div class="work-media">
        {{ page.media }}
    </div>
  {% endif %}

  <div class="work-meta">

    {% if page.instrumentation %}
      <p>
        <strong>Instrumentation:</strong>
        {{ page.instrumentation }}
      </p>
    {% endif %}

    {% if page.duration %}
      <p>
        <strong>Duration:</strong>
        {{ page.duration }}
      </p>
    {% endif %}

  </div>

  <div class="work-content">
    {{ content }}
  </div>

</article>
