---
layout: default
---

<article class="work">

  <div class="work-back-link">
      <span class="work-back-arrow">⭠ </span>
      <a href="{{ '/works/' | relative_url }}">All Works</a>
  </div>

  <div class="work-heading">
    <div class="work-heading-left">
      <h1 class="work-title">{{ page.title }}</h1>
    </div>

    <div class="work-heading-right">
      <div class="work-heading-meta">
        {% if page.year %}
          <div class="work-year">{{ page.year }}</div>
        {% endif %}

        {% if page.brief_instrumentation %}
          <div class="work-brief-instrumentation">
            {{ page.brief_instrumentation }}
          </div>
        {% endif %}
      </div>

      {% if page.purchase_link %}
        <div class="work-purchase">
          <a
            href="{{ page.purchase_link }}"
            target="_blank"
            rel="noopener">
              Purchase<span class="purchase-right-arrow">&nbsp;⭢</span>
          </a>
        </div>
      {% endif %}

    </div>
  </div>

  {% if page.media %}
    <div class="work-media">
        {{ page.media }}
    </div>
  {% endif %}

  <div class="work-meta">
    <div class="work-meta-left">
      {% if page.credits %}
        <div class="work-meta-item">
          <strong>{{ page.credits }}</strong>
        </div>
      {% endif %}
      {% if page.duration %}
        <div class="work-meta-item">
          <strong>Duration:</strong>
          {{ page.duration }}
        </div>
      {% endif %}
      {% if page.instrumentation %}
        <div class="work-meta-item">
          <strong>Instrumentation:</strong>
          {{ page.instrumentation }}
        </div>
      {% endif %}
    </div>

    {% if page.purchase_link %}
    <div class="work-meta-right">
      <div class="work-meta-purchase">
          <a 
            href="{{ page.purchase_link }}"
            target="_blank" 
            rel="noopener">
              {{ page.purchase_text | default: "Purchase" }}
              <span class="purchase-right-arrow">&nbsp;⭢</span>
          </a>
      </div>
    </div>
    {% endif %}


  </div>

  <div class="work-content">
    {{ content }}
  </div>

</article>
